<!DOCTYPE html>
<html>
  <head>
    <title>choose a car</title>
  </head>
  <body>

   
	<div class="container mt-3">
	<h2>choose a car</h2>
	<form action="/response">
	    <p>how many passangers</p>   
	    <label for="sel1" class="form-label">Select list (select one):</label>
		<select class="form-select" id="sel1" name="passangers">
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		  <option>6</option>
		  <option>7</option>
		  <option>8</option>
		</select>
		<br>
		
		
	    <p>Whats your budget</p>   
	    <label for="sel1" class="form-label">Select list (select one):</label>
		<select class="form-select" id="sel1" name="budget">
		  <option value = "20">20,000 - 50,000</option>
		  <option value = "55">55,000 - 80,000</option>
		  <option value = "80">80,000+</option>
		</select>
		<br>
		
		<br><div class="container mt-3">
 
   
  
	    <p>how would you use the car</p>   
	    <label for="sel1" class="form-label">Select list (select one):</label>
		<select class="form-select" id="sel1" name="use">
		  <option>long distance driving</option>
		  <option>commute to work/school</option>
		  <option>personal enjoyment</option>
		</select>
		<br>
		 <button type="submit" class="btn btn-primary">Submit</button>
		</form>
  </body>
</html>